<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OPCUA SIMULATOR</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  </head>
  <body>
	<div class='root'>
	    <div class='header'>
	        <div class='logo_box'>
	        <img alt="logo" src="{{url_for('static',filename='logo.png')}}">
	        </div>
	        <div class='header_menu_box'>
	             <ul class="header_menu">
	                 <li>Adaptronic</li>
	                 <li>To be implemented</li>
	                 <li>To be implemented</li>
	                 <li>To be implemented</li>
	                 <li>To be implemented</li>
	                 
	             </ul>
	        </div>
	    </div>
	    
	    <div class='content'>
	        <div class='content_main_window'>
	            <div class='content_create_sfc'>
	                <div class='content_create_sfc_new'>
	                    <div class='content_create_sfc_new_title'>
	                        <h1>Create new SFC</h1>
	                    </div>
	                    <div class="content_create_sfc_new_form">
                          <form id="SFC_CREATION_FORM">
                        
                           <input type="text" id="content_create_input1" name="content_create_input1" placeholder="Enter SFC:" >
                           <input type="text" id="content_create_input4" name="content_create_input4" placeholder="Material Number:" >
                           <label for="content_create_input2">Select NC_CODE description:</label>
                           <select id="content_create_input2" name="content_create_input2" >
                               <option value="N/A">N/A</option>
                               <option value="Testare: Eroare de detectare">Testare: Eroare de detectare</option>
                               <option value="Testare: Circuit Deschis">Testare: Circuit Deschis</option>
                               <option value="Testare: Scurtcircuit">Testare: Scurtcircuit</option>
                               <option value="Testare: Eroare Functionalitate">Testare: Eroare Functionalitate</option>
                               <option value="SFC nu este in asteptare">SFC nu este in asteptare</option>
                               <option value="Lipsa parametri proces">Lipsa parametri proces</option>
                               <option value="Parametri proces multiplii">Parametri proces multiplii</option>
                            </select>
                            <label for="content_create_input3">Select MII_STATUS(pre-test)</label>
                            <select id="content_create_input3" name="content_create_input3" >
                                <option value="OK">OK</option>
                                <option value="NOK">NOK</option>
                             </select>
                           <button class="submit-button"  id='random_button'>Random</button>
                           <button class="submit-button" id='submit_button'>Submit</button>
                         </form>
                        </div>
	                </div>
	                <div class='content_create_sfc_list'>
	                   
	               
	                   <table class="content_table" id="content_table">
                         <tr>
                          <th>ID</th>
                          <th>SFC</th>
                          <th>NC_CODE</th>
                          <th>MII_STATUS</th>
                          <th>MAT_NUMBER</th>
                         </tr>
                        </table>

	                </div>
	            </div>
	            <div class='content_start_simulation'>
	                <div class='start_simulation_header'>
	                     <h3 class="simulation_menu_title">Adaptronic:</h3>
	                     <ul class="header_menu">
	                     
       	                 <li id="simulation_new_instance">New Instance</li>
       	                 <li id="simulation_run_all">Run All</li>
       	                 <li id="simulation_delete_all">Delete All</li>
   	                
   	                
   	                    
   	                 </ul>  
	                </div>
	                <div class='simulation_instance_container' id="simulation_instance_container">
	                    
	                </div>
                  <div class="simulation_console" id="log_console">
                    
                  </div>
	            </div>
	        </div>
	        
	    </div>
	</div>
<script src="{{js_file_url}}"></script>
  </body>
</html>