<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OPCUA SIMULATOR</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  </head>
  <body>
	<div class='root'>
	    <div class='header'>
	        <div class='logo_box'>
	        <img id='logoImage' alt="logo" src="{{blue_logo_url}}">
			
	        </div>
	        <div class='header_menu_box'>
	             <ul class="header_menu">
	                 <li id="Adaptronic_Header">Adaptronic</li>
	                 <li id="TSK_Header">TSK</li>
	                 <li id="Telsonic_Header">Telsonic</li>
	                 <li id="Arburg_Header">Arburg</li>
	                
	                 
	             </ul>
	        </div>
	    </div>
	    
	    <div class='content' id="adaptronic_content">
	        <div class='content_main_window' id="adaptronic_content_main_window">
	            <div class='content_create_sfc'>
	                <div class='content_create_sfc_new'>
	                    <div class='content_create_sfc_new_title'>
	                        <h1>Create new SFC</h1>
	                    </div>
	                    <div class="content_create_sfc_new_form">
                          <form class="SFC_CREATION_FORM">
                        
                           <input type="text" class="content_create_input1" name="content_create_input1" placeholder="Enter SFC:" >
                           <input type="text" class="content_create_input4" name="content_create_input4" placeholder="Material Number:" >
                           <label for="content_create_input2">Select NC_CODE description:</label>
                           <select class="content_create_input2" name="content_create_input2" >
                               <option value="N/A">N/A</option>
                               <option value="Testare: Eroare de detectare">Testare: Eroare de detectare</option>
                               <option value="Testare: Circuit Deschis">Testare: Circuit Deschis</option>
                               <option value="Testare: Scurtcircuit">Testare: Scurtcircuit</option>
                               <option value="Testare: Eroare Functionalitate">Testare: Eroare Functionalitate</option>
                            </select>
                           <button class="submit-button"  type="button" id='random_button_adaptronic'>Random</button>
                           <button class="submit-button" type="button" id='submit_button_adaptronic'>Submit</button>
                         </form>
                        </div>
	                </div>
	                <div class='content_create_sfc_list'>
	                   
	               
	                   <table class="content_table">
                         <tr>
                          <th>ID</th>
                          <th>SFC</th>
                          <th>NC_CODE</th>
                          <th>MAT_NUMBER</th>
                         </tr>
                        </table>

	                </div>
	            </div>
	            <div class='content_start_simulation'>
	                <div class='start_simulation_header'>
	                     <h3 class="simulation_menu_title">Adaptronic:</h3>
	                     <ul class="header_menu">
	                     
       	                 <li class="simulation_new_instance" id="simulation_new_instance_adaptronic">New Instance</li>
   	                
   	                
   	                    
   	                 </ul>  
	                </div>
	                <div class='simulation_instance_container' >
	                    
	                </div>
                  <div class="simulation_console" id="adaptronic_console">
                    
                  </div>
	            </div>
	        </div>
	        
	    </div>

		<div class='content' id="tsk_content" >
	        <div class='content_main_window' id="tsk_content_main_window">
	            <div class='content_create_sfc'>
	                <div class='content_create_sfc_new'>
	                    <div class='content_create_sfc_new_title'>
	                        <h1>Create new SFC</h1>
	                    </div>
	                    <div class="content_create_sfc_new_form">
                          <form class="SFC_CREATION_FORM">
                        
                           <input type="text" class="content_create_input1" name="content_create_input1" placeholder="Enter SFC:" >
                           <label for="content_create_input2">Select NC_CODE description:</label>
                           <select class="content_create_input2" name="content_create_input2" >
                               <option value="N/A">N/A</option>
                               <option value="Testare: Eroare de detectare">NC0196000000</option>
                            </select>
                           <button class="submit-button"  id='random_button_tsk' type="button">Random</button>
                           <button class="submit-button" id='submit_button_tsk' type="button">Submit</button>
                         </form>
                        </div>
	                </div>
	                <div class='content_create_sfc_list'>
	                   
	               
	                   <table class="content_table">
                         <tr>
                          <th>ID</th>
                          <th>SFC</th>
                          <th>NC_CODE</th>
                         </tr>
                        </table>

	                </div>
	            </div>
	            <div class='content_start_simulation'>
	                <div class='start_simulation_header'>
	                     <h3 class="simulation_menu_title">TSK:</h3>
	                     <ul class="header_menu">
	                     
       	                 <li class="simulation_new_instance" id="simulation_new_instance_tsk">New Instance</li>
   	                
   	                
   	                    
   	                 </ul>  
	                </div>
	                <div class='simulation_instance_container' >
	                    
	                </div>
                  <div class="simulation_console" id="tsk_console">
                    
                  </div>
	            </div>
	        </div>
	        
	    </div>

		<div class='content' id="telsonic_content" >
	        <div class='content_main_window' id="telsonic_content_main_window">
	            <div class='content_create_sfc'>
	                <div class='content_create_sfc_new'>
	                    <div class='content_create_sfc_new_title'>
	                        <h1>Create new Barcode</h1>
	                    </div>
	                    <div class="content_create_sfc_new_form">
                          <form class="SFC_CREATION_FORM">
                        
                           <input type="text" class="content_create_input1" name="content_create_input1" placeholder="Enter Barcode:" >
                           <label for="content_create_input2">Input ErrorCode :</label>
                           <input type="text" class="content_create_input2" name="content_create_input2" placeholder="Enter ErrorCode:" >
                           <button class="submit-button"  id='random_button_telsonic' type="button">Random</button>
                           <button class="submit-button" id='submit_button_telsonic' type="button">Submit</button>
                         </form>
                        </div>
	                </div>
	                <div class='content_create_sfc_list'>
	                   
	               
	                   <table class="content_table">
                         <tr>
                          <th>ID</th>
                          <th>Barcode</th>
                          <th>Errorcode</th>
                         </tr>
                        </table>

	                </div>
	            </div>
	            <div class='content_start_simulation'>
	                <div class='start_simulation_header'>
	                     <h3 class="simulation_menu_title">Telsonic:</h3>
	                     <ul class="header_menu">
	                     
       	                 <li class="simulation_new_instance" id="simulation_new_instance_telsonic">New Instance</li>
   	                
   	                
   	                    
   	                 </ul>  
	                </div>
	                <div class='simulation_instance_container' >
	                    
	                </div>
                  <div class="simulation_console" id="telsonic_console">
                    
                  </div>
	            </div>
	        </div>
	        
	    </div>

		<div class='content' id="arburg_content" >
	        <div class='content_main_window' id="arburg_content_main_window">
	            <div class='content_create_sfc'>
	                <div class='content_create_sfc_new'>
	                    <div class='content_create_sfc_new_title'>
	                        <h1>Create new Arburg simulation target</h1>
	                    </div>
	                    <div class="content_create_sfc_new_form">
                          <form class="SFC_CREATION_FORM">
							<label for="content_create_input1">Select ErrorCode :</label>
							<select class="content_create_input1" name="content_create_input1" >
								<option value="238810">238810</option><option value="239710">239710</option>
								<option value="23982">23982</option><option value="72570">72570</option>
								<option value="202420">202420</option><option value="202470">202470</option>
								<option value="202520">202520</option><option value="202580">202580</option>
								<option value="202620">202620</option>
								<option value="202670">202670</option>
								<option value="202730">202730</option>
								<option value="904950">904950</option>
								<option value="903220">903220</option>
								<option value="903530">903530</option>
								<option value="317420">317420</option>
								<option value="202760">202760</option>
								<option value="207270">207270</option>
								<option value="207420">207420</option>
								<option value="207570">207570</option>
								<option value="207720">207720</option>
								<option value="207870">207870</option>
								<option value="202340">202340</option>
								<option value="177410">177410</option>
								<option value="202300">202300</option>
								<option value="140870">140870</option>
								<option value="232180">232180</option>
								<option value="176980">176980</option>
								<option value="194750">194750</option>
								<option value="235660">235660</option>
								<option value="37960">37960</option>
								<option value="41400">41400</option>
								<option value="40940">40940</option>
								<option value="194710">194710</option>
								<option value="194560">194560</option>
								<option value="41360">41360</option>
								<option value="43330">43330</option>
								<option value="202672">202672</option>
								<option value="194600">194600</option>
								<option value="148390">148390</option>
								<option value="517460">517460</option>
								<option value="61070">61070</option>
								<option value="186340">186340</option>
								<option value="658390">658390</option>
								<option value="323670">323670</option>
								<option value="148790">148790</option>
								<option value="148220">148220</option>
								<option value="183220">183220</option>
								<option value="657640">657640</option>
								<option value="658690">658690</option>
								<option value="207870">207870</option>
								<option value="158790">158790</option>
								<option value="158880">158880</option>
								<option value="158250">158250</option>
								<option value="158970">158970</option>
								<option value="177550">177550</option>
								<option value="140840">140840</option>
								<option value="159060">159060</option>
								<option value="180100">180100</option>
								<option value="189220">189220</option>
								<option value="184780">184780</option>
								<option value="178540">178540</option>
								<option value="187900">187900</option>
								<option value="657040">657040</option>
								<option value="657190">657190</option>
								<option value="181660">181660</option>
								<option value="657640">657640</option>
								<option value="657790">657790</option>
								<option value="658240">658240</option>
								<option value="658540">658540</option>
								<option value="658690">658690</option>
								<option value="207720">207720</option>
								<option value="207570">207570</option>
								<option value="207420">207420</option>
								<option value="207270">207270</option>
								<option value="209040">209040</option>
								<option value="194560">194560</option>
								<option value="194710">194710</option>
								<option value="194860">194860</option>
								<option value="195050">195050</option>
								<option value="195240">195240</option>
								<option value="195430">195430</option>
								<option value="148590">148590</option>
								<option value="150390">150390</option>
								<option value="148990">148990</option>
								<option value="149190">149190</option>
								<option value="149390">149390</option>
								<option value="149590">149590</option>
								<option value="149790">149790</option>
								<option value="149990">149990</option>
								<option value="150190">150190</option>
								<option value="148390">148390</option>
								<option value="157650">157650</option>
								<option value="157750">157750</option>
								<option value="157850">157850</option>
								<option value="157950">157950</option>
								<option value="158050">158050</option>
								<option value="158150">158150</option>
								<option value="158250">158250</option>
								<option value="158340">158340</option>
								<option value="158430">158430</option>
								<option value="158520">158520</option>
								<option value="158610">158610</option>
								<option value="158700">158700</option>
								<option value="158790">158790</option>
								<option value="158880">158880</option>
								<option value="158970">158970</option>
								<option value="159060">159060</option>
								<option value="159150">159150</option>
								<option value="159240">159240</option>
								<option value="159330">159330</option>
								<option value="159420">159420</option>
								<option value="159510">159510</option>
								<option value="232170">232170</option>
								<option value="148190">148190</option>
								<option value="258210">258210</option>
								<option value="613600">613600</option>
								<option value="612590">612590</option>
								<option value="611580">611580</option>
								<option value="610570">610570</option>
								<option value="609560">609560</option>
								<option value="608550">608550</option>
								<option value="607540">607540</option>
								<option value="606530">606530</option>
								<option value="257680">257680</option>
								<option value="257150">257150</option>
								<option value="256620">256620</option>
								<option value="256090">256090</option>
								<option value="255560">255560</option>
								<option value="255030">255030</option>
								<option value="254500">254500</option>
								<option value="194540">194540</option>
								<option value="201730">201730</option>
								<option value="656590">656590</option>
								<option value="654400">654400</option>
								<option value="61060">61060</option> 	
							</select>  
                           <button class="submit-button" id='submit_button_arburg' type="button">Submit</button>
                         </form>
                        </div>
	                </div>
	                <div class='content_create_sfc_list'>
	                   
	               
	                   <table class="content_table">
                         <tr>
                          <th>ID</th>
                          <th>Error Code</th>
                         </tr>
                        </table>

	                </div>
	            </div>
	            <div class='content_start_simulation'>
	                <div class='start_simulation_header'>
	                     <h3 class="simulation_menu_title">Arburg:</h3>
	                     <ul class="header_menu">
	                     
       	                 <li class="simulation_new_instance" id="simulation_new_instance_arburg">New Instance</li>
   	                    
   	                 </ul>  
	                </div>
	                <div class='simulation_instance_container' >
	                    
	                </div>
                  <div class="simulation_console" id="arburg_console">
                    
                  </div>
	            </div>
	        </div>
	        
	    </div>
	</div>
<script >

window.blue_logo_url = '{{blue_logo_url}}';
window.red_logo_url = '{{red_logo_url}}';
window.green_logo_url = '{{green_logo_url}}';
window.light_logo_url = '{{light_logo_url}}';
</script>	
<script src="{{js_file_url}}"></script>
  </body>
</html>